@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --primary-color: #171717;
  --seconadary-color: #171717;

  --error-color: #171717;

  --text-color: #171717;
  --background-color: #ffffff;
}

@theme inline {
  --font-sans: var(--font-roboto-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #171717;
    --seconadary-color: #171717;

    --error-color: #171717;

    --text-color: #171717;
    --background-color: #ffffff;
  }
}

body {
  background: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
